# Environment variables
.env
.env.*
!.env.example

# Node
node_modules/
.next/
out/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Django
db.sqlite3
staticfiles/

# Virtual environment
.venv/
venv/

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db